.site-nav {
    background: url("../pictures/nav-big1.png") no-repeat 50% 5px;
    padding: 5em 5em 0 5em;
}

.site-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Lobster', cursive;
    padding-bottom: 2em;
}

.site-nav ul li {
    list-style-type: none;
    margin: 1.7em 0 0 0;
    border-radius: 1em;
}

.add-data {
    display: flex;
    justify-content: center;
}

.create-author-btn, .create-book-btn {
    flex: 0 0 10%;
    font-size: 1.1em;
    margin: 1em 2em;
    padding: 0.2em;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-family: 'Lobster', cursive;
}

.create-author-btn:hover, .create-book-btn:hover {
    background-color: #2ecc71;
}

.site-nav ul li a {
    font-size: 20px;
    text-decoration: none;
    padding: 0 0.5em 0 0.5em;
    color: #FFF;
}

.site-nav ul li a:hover {
    color: #787878;
    transition: all 0.3s ease-in-out 0s;
}