.site-nav {
    background: url("../pictures/nav-big1.png") no-repeat 50% 5px;
    padding: 5em 5em 0 5em;
}

.site-nav ul {
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    padding-bottom: 1em;
}

.site-nav ul li {
    list-style-type: none;
    margin: 1.7em 0 0 0;
    border-radius: 1em;
}

.site-nav ul li a {
    font-size: 20px;
    text-decoration: none;
    padding: 0 0.5em 0 0.5em;
    color: #FFF;
}

.site-nav ul li a:hover {
    color: #787878;
    transition: all 0.3s ease-in-out 0s;
}