.site-homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}

.site-homepage div {
    flex: 0 0 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background: url("https://images.unsplash.com/photo-1483982258113-b72862e6cff6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=1080");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    margin: 1.5em 0 1.5em 0;
}

.site-homepage h1 {
    flex: 0 0 100%;
    font-family: 'Baskervville', serif;
}

.site-homepage div p {
    display: flex;
    flex: 0 0 70%;
    font-size: 1.4em;
    padding: 1em 1em 1em 1em;
    margin: 1em;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    color: #FFFFFF;
    font-weight: bold;
}

.homepage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    background: url("https://images.unsplash.com/photo-1483982258113-b72862e6cff6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=1080");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #FFF;
}

.homepage-list .news {
    flex: 0 0 100%;
    margin: 0;
    padding: 0;
}

.homepage-list .news span {
    font-size: 3em;
    padding: 0 0 0.5em 0;
    font-family: 'Lobster', cursive;
}

.homepage-list li {
    flex: 0 0 30%;
    padding: 1em;
    margin: 1em;
}

.homepage-list li img {
    border: 3px solid #FFF;
}

.homepage-list li span {
    display: block;
    flex: 0 0 30%;
    font-size: 18px;
    padding-top: 1em;
}

.site-homepage .read-news a {
    color: #FFFFFF;
    font-size: 1.1em;
    border: 2px solid #2ecc71;
    border-radius: 5px;
    padding: 0.3em 0.3em 0.3em 0.5em;
}

.site-homepage .read-news a:hover {
    background-color: #2ecc71;
}