.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1em;
}

.book-list-img img {
    border-bottom: 2px solid #FFFFFF;
    padding: 0.5em 1em 1em 1em;
}

.book-list-img h2 {
    padding: 1em 0;
}