.author-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.author-page-title {
    padding: 1em 1em 0.5em 1em;
    font-size: 2.5em;
}

.author-page-description {
    padding: 1em 15em 5em 15em;
    font-size: 1.3em;
    text-align: center;
}