.site-nav ul {
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    border-bottom: 2px solid #FFF;

}

.site-nav ul li {
    list-style-type: none;
    margin: 1em;
    border-radius: 1em;
}

.site-nav ul li a {
    text-decoration: none;
    padding: 1em 1em 0.5em 1em;
    color: #FFF;
}

.site-nav ul li a:hover {
    border-bottom: 2px solid #FFF;
}