.book {
    flex: 0 0 25%;
    margin-top: 1em;
}

.book-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.book-image {
    height: 70%;
    width: auto;
}

.book-title {
    flex: 0 0 100%;
}

.book-author {
    flex: 0 0 100%;
}

.book-price {
    flex: 0 0 100%;
}